@charset "UTF-8";

html, body {
	margin: 0;
	padding: 0px;
	width: 100%;
}

header {
	width: 100%;
	background-color: #fff;
	padding: 10px 0 10px 0;
	height: 45px;
	border: 1px solid #eeeeee;
}

div.header-container {
	width: 85%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000000;
}

div.logo {
	width: 30%;
	height: 45px;
	line-height: 45px;
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	margin-left: 20px;
	float: left;
	color: #0522ee;
}

div.user_area {
	float: right;
}

.root-ul>li {
	display: inline;
	margin-left: 20px;
}

div.user_area ul {
	list-style: none;
	margin: 0;
	line-height: 45px;
}

div.user_area ul li {
	
}

ul.logOn-list {
	display: none;
	position: absolute;
	top: 45px;
	right: 60px;
	width: 120px;
	border: 1px solid #ddd;
	background: white;
	color: #000;
	text-align: center;
	padding: 0;
}

li#logOn:hover ul.logOn-list {
	display: block;
}

li.logOns {
	position: relative;
}

li.logOns:hover {
	color: red;
	border: 1px solid green;
}