@charset "UTF-8";

div#register_area {
	margin: 60px auto;
	width: 60%;
	background: linear-gradient( to top, white, #c0c0 );
	text-align: center;
	padding: 30px;
}

form>div {
	margin-top: 25px;
	line-height: 30px;
}

h2, h3 {
	font-family: 'Sunflower';
	height: 30px;
	margin: 0 auto;
	width : 100%;
}

h3{
	color: #fe850e;
}

input.register_input {
	width: 50%;
	height: 40px;
}

textarea {
	width: 50%;
	height: 100px;
	resize: none;
}

div.form_btns {
	text-align: center;
	width : 500px;
}


button.btns {
	border-radius: 1.0em;
	border: solid 1px #fe850e;
	background-color: white;
	margin: 0 auto;
	height: 40px;
	width: 70px;
}

button#back{
	float: left
}

.btns:hover {
	background-color: #fe850e;
	color: white;
}