@charset "UTF-8";

.login-container {
	margin: 0 auto;
	text-align: center;
}

.form-body {
	width: 375px;
	margin: 0 auto;
}

input.login_form {
	height: 30px;
	margin: 0 auto;
	width : 100%;
}

.text {
	text-align: left;
	font-family: 'Sunflower';
}

div.checkMsg{
	font-size: 7px;
}